@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-colors duration-200 font-mono
}

html {
    @apply h-auto;
  }
  body {
    @apply h-auto;
  }
  div {
    @apply h-auto;
  }
  